@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Kameron', sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}